@font-face {
  font-family: "fontello";
  src: url("../icones/font/fontello.eot");
  src: url("../icones/font/fontello.eot") format("embedded-opentype"),
    url("../icones/font/fontello.woff") format("woff"),
    url("../icones/font/fontello.ttf") format("truetype"),
    url("../icones/font/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nasalization";
  src: url("../fonts/nasalization-rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ICONES */
.icone {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  color: black;
  display: inline-block;
  text-decoration: none;
  font-size: 2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

.icon-star,
.icon-star-empty,
.icon-star-half-alt {
  color: yellow;
}
.icon-star:hover,
.icon-star-empty:hover,
.icon-star-half-alt:hover {
  cursor: pointer;
}
/* GENERAL */
body {
  margin: 0;
  padding: 2%;
  background: -webkit-radial-gradient(center, circle, #cce6ff, #4da6ff);
  background: -moz-radial-gradient(center, circle, #cce6ff, #4da6ff);
  background: -ms-radial-gradient(center, circle, #cce6ff, #4da6ff);
  background: -o-radial-gradient(center, circle, #cce6ff, #4da6ff);
  background: radial-gradient(circle at center, #cce6ff, #4da6ff);
  font-family: "nasalization", "atwriter", "VCR", "Postface", Arial, sans-serif;
  text-align: center;
}
section {
  text-align: center;
  margin: 30px;
  display: inline-block;
  width: 95%;
  box-shadow: 5px 5px 0px rgb(22, 22, 22);
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.45);
}
section .section_name {
  background-color: #000;
  color: #fff;
  margin: 0px;
}
section h2 {
  border-bottom: 2px dashed black;
}

.link {
  text-decoration: underline;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: yellow;
  background-color: black;
}
header,
footer {
  background-image: url(../images/delimiteur.png);
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top;
}
header {
  box-shadow: 5px 5px 0px rgb(22, 22, 22);
}
header #logo {
  float: left;
  height: 100px;
  width: auto;
}
header .icone {
  margin-right: 10px;
}
header nav {
  display: inline-block;
  padding: 15px;
  text-align: center;
}
header ul {
  padding: 15px;
  margin: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 5px solid black;
  display: inline-block;
  background-color: #ffffff;
}

header li {
  display: inline-block;
}

header li a {
  display: block;
  background-color: #ffffff;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  color: #fff;
  background-color: #000;
}
.live {
  color: red;
}
.live:hover {
  color: red;
}
footer div {
  padding: 15px;
  margin: 30px;
  list-style-type: none;
  overflow: hidden;
  border: 5px solid black;
  display: inline-block;
  background-color: #ffffff;
}
#before_footer {
  background-image: url(../images/ville_bas.png);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;

  z-index: 0;
  width: 100%;
  height: 400px;
}
footer {
  box-shadow: 5px 5px 0px rgb(22, 22, 22);
}

/* EQUIPES */
.equipe {
  display: inline-block;
  width: 40%;
  margin: 1%;
  overflow: hidden;
  box-shadow: 5px 5px 0px rgb(22, 22, 22);
  background-color: rgba(0, 0, 0, 0.1);
}
.equipe .equipe_name {
  background-color: #000;
  color: #fff;
  margin: 0px;
}
.equipe .equipe_img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
}

.equipe .spe {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  text-align: left;
  margin-bottom: 10px;
}
.equipe .spe div {
  margin: 10px;
}

.equipage {
  padding: 10px;
  display: inline-block;
}

.badge {
  border: 5px ridge #e6f2ff;
  background-color: #e6f2ff;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}
.badge .left {
  width: 30%;
}
.badge .right {
  width: 70%;
}
.badge .image-cropper {
  overflow: hidden;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
}
.badge .flag {
  height: 28px;
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
.badge .pilote_img {
  height: 100px;
  width: auto;
  display: inline;
}
.badge p {
  margin: 0px;
}
.badge .pilote_name {
  display: inline-block;
  margin: 0px;
}
.badge .left {
  width: 30%;
}
.badge .right {
  width: 70%;
}
.p30p {
  display: inline-block;
  width: 30%;
  margin: 1%;
}

.sponsor {
  display: inline-block;
  width: 20%;
  height: auto;
  margin: 1%;
}
input,
textarea {
  font-family: "nasalization", "atwriter", "VCR", "Postface", Arial, sans-serif;
  display: inline-block;
  min-width: 30%;
  max-width: 30%;
  padding: 10px;
  margin: 1%;
  border: 1px solid rgb(22, 22, 22);
  box-shadow: 5px 5px 0px rgb(22, 22, 22);
  background-color: white;
}

button {
  font-family: "nasalization", "atwriter", "VCR", "Postface", Arial, sans-serif;
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: 1%;
  border: 1px solid rgb(22, 22, 22);
  background-color: white;
  box-shadow: 5px 5px 0px rgb(22, 22, 22);
}
button:hover {
  background-color: yellow;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
}
.icone_margin {
  margin-right: 10px;
}
