DirectoryIndex ./index.php
RewriteEngine on
RewriteRule ^index$ index.php [L] 
RewriteRule ^accueil$ index.php [L] 
RewriteRule ^a_propos$ a_propos.php [L] 
RewriteRule ^association$ association.php [L] 
RewriteRule ^equipes$ equipes.php [L] 
RewriteRule ^evenement$ evenement.php [L] 
RewriteRule ^live$ live.php [L] 
RewriteRule ^mentions_legales$ mentions_legales.php [L] 
RewriteRule ^riverains$ riverains.php [L] 
RewriteRule ^sponsors$ sponsors.php [L] 
RewriteRule ^toutes_equipes$ toutes_equipes.php [L] 
RewriteRule ^vote$ vote.php [L] 
RewriteRule ^confirm$ confirm.php [L] 